<div class="flex justify-center gap-4 items-start">
  <div class="w-full md:w-1/2">
    <label
      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
      for="search-title"
    >
      Title
    </label>
    <input
      class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2-5 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      id="search-title"
      type="text"
      placeholder="Search by title..."
    />
  </div>
  <div class="w-full md:w-1/2">
    <label
      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
      for="search-tags"
    >
      Tags
    </label>
    <ng-select
      name="search-tags"
      [(ngModel)]="selectedItems"
      [multiple]="true"
      [searchable]="true"
      placeholder="Search with tags.."
    >
      <ng-option *ngFor="let tag of tagOptions" [value]="tag.id">{{
        tag.text
      }}</ng-option>
    </ng-select>
  </div>
</div>
<div *ngIf="notes.length === 0" class="w-100 py-36">
  <div class="flex flex-col items-center">
    <fa-icon
      class="text-gray-300 text-8xl mb-3"
      [icon]="faNoteSticky"
    ></fa-icon>
    <p class="text-2xl text-gray-600">Notes you add appear here</p>
  </div>
</div>
<div class="grid grid-cols-4 gap-4 mt-10">
  <div
    class="flex flex-col justify-between p-4 border border-gray-500 rounded ease-in duration-100 hover:shadow-lg hover:cursor-pointer"
    *ngFor="let note of notes"
    [ngStyle]="{ 'background-color': note.color }"
    (click)="onNoteClicked(note.id)"
  >
    <div class="w-100">
      <div class="flex justify-between items-start">
        <p class="break-all font-semibold text-xl mb-2">{{ note.title }}</p>
        <div
          class="rounded-full py-1 px-2 ease-in duration-100 hover:bg-gray-500/25"
        >
          <fa-icon
            [ngClass]="{
              'text-gray-500': !note.isPinned,
              'text-black': note.isPinned
            }"
            [icon]="faThumbTack"
            (click)="togglePinnedStatus($event, note)"
          ></fa-icon>
        </div>
      </div>
      <p class="break-words">
        {{
          note.content.length > 70
            ? (note.content | slice : 0 : 70) + "..."
            : note.content
        }}
      </p>
    </div>
    <div class="flex flex-col justify-end">
      <div class="tags-container flex flex-wrap gap-2 mb-2 mt-3">
        <div
          *ngFor="let tag of note.tags"
          class="px-2 py-1 rounded-full bg-gray-200/70 text-gray-700"
        >
          {{ tag.text }}
        </div>
      </div>
      <p class="text-gray-700 text-sm">
        Edited: {{ note.last_modified | date : "MMM dd, YYYY (h:m aa) " }}
      </p>
    </div>
  </div>
</div>
